*{
    box-sizing:border-box;
}
body{
    font-family: 'poppin', sans-serif;
    font-size: 16px;
    margin:0;
    background: #f5f6f9;
}
header{
    background-color: #ffffff;
    height: 65px;
    display:flex;
    align-items:center;
    padding: 5px  10px;
    justify-content:space-between;
    box-shadow: 0 3px 10px 0 rgba(80,119,242,0.3);
}
/*nav,.inputSearch{
    display:none;

}*/
nav ul{
    display:flex;
    list-style: none;
    gap: 15px;
    padding: 0;
}
nav ul li{
    cursor:auto;
}
nav ul li:hover{
    color:#023e8a;
}
.inputSearch{
    display:flex;
    align-items:center;
    height: 40px;
    background-color: red;
    width: 400px;
    border-radius: 35px;
    overflow:hidden;
    border: 1.5px solid #023e8a;
}
.inputSearch input{
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    border: none;
    outline: none;
    font-size: 16px;
}
.inputSearch span{
    width:70px;
    background-color: #023e8a;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color:white;
}
.menu{
    font-size: 20px;
    width:40px;
    height:40px;
    border-radius: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menu:hover{
    background-color: #023e8a;
    color:#ffffff;
}
.desktop{
    display:none;
}
@media all and (min-width:700px) {
    header {
        padding: 5px 30px;
    }
    .desktop{
        display:flex;
    }
    .menu{
        display:none;
    }
}


/***mobile menu***/
.mobile{
    position: absolute;
    top: 75px;
    width: 100%;
    max-width: 700px;
    background-color: #f5f6f9;
    height: calc(100% - 100px)
}

.hidden{
    display:none;

}
.mobile nav,
.mobile nav ul{
    flex-direction: column;
}

.mobile .inputSearch{
    height:35px;
    width:300px;
}
@media all and (min-width:700px) {
 .mobile{
    display: none;
 }
}


/***css card***/
main{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding:10px;
    margin:auto;    
}
.card{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    box-shadow: 7px 7px 25px 1px rgba(0,0,0,0,06);
    border-radius: 5px;
    overflow:hidden;
}
.card img{
    min-height: 210px;
    background-color: red;
    border-radius: 15px;
}
.card div {
    padding: 5px 10px;
    margin: 0px;
}
.publish{
    display: flex;
    align-items: center;
    color:#918e8e;
}
.publish p{
    margin: 0px;
    font-size: 14px;
}
.publish span{
    padding: 0px 10px;
}
.desc{
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin: 0;
}
@media all and (min-width: 700px){
    main{
        padding: 20px;
        flex-direction: row;
        flex-wrap: wrap ;
        justify-content: center;
    }
}

.content{
    text-align:justify;
    position:absolute;
    width: 860px;
    height: 8000px;
    left:260px;
    right:1100px;
    background-color:rgb(232, 235, 238);
    
}
#image-conainer{ 
    position:fixed;
    width:480px;
    height:460px;
    left:1200px;
    top:50px;
    right :1600px;
    background-color: #918e8e;
    
}
footer{
    background-color:#111;
    height:15%;
    width:100%;
}
.footerContainer{
    width:100%;
    height:150px;

}
.socialIcons{
    display:flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color:#ffffff;
    margin:10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color:#111;
    opacity: 0.9;
}

/* hover effect on social media icons */
.socialIcons a:hover{
    background-color:#918e8e;
    transition: 0.5s;
}

.footerNav{
    margin:5px 0;
}
.footerNav ul{
    display:flex;
    justify-content: center;
}
.footerNav ul li a{
    color:white;
    margin:20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity:0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity:1;
}
.footerBottom{
    background-color: #111;
    padding:20px;
    text-align: center;
}
.footerBottom p{
    color:white;
}
.designer{
    opacity:0.7;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin:0px 5;

}
@media all and(max-width:700px){
    .footer{
        padding:20px;
        overflow:hidden;
        height:50px;
    }
}